{% extends "base.html" %}
{% block content %}
    <div class="container"> 
        <div class="section">        
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-heading-title">About us</h2>      
                </div>
            </div> 
        </div>    
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <img class="about-image" src="{{url_for('static', filename='images/yardsale-network.jpg') }}" alt="yardsale network image" width="300" height="280">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 about-text-wrapper">
                <p class="about-text">Welcome to Watcha Selling!</p>
                <br>
                <p class="about-text">Our idea is simple, find the yard sale near you without having to drive around searching for...your search is done with a few finger taps. Got stuff to sell, just a few clicks and viola, your yard sale is published and ready to be shared with those interested. It is that easy, find and be found.</p>
            </div>
        </div>
    </div>
{% endblock %}