{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="section">    
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-heading-title">Add your Yard Sale</h2>      
                </div>
            </div> 
        </div> 
        <div class="row">
            <div class="col s12 m6 l6"> 
                <div class="add-yardsale-form-wrap">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                           <h5 class="page-sub-title">Seller Info:</h5>
                           <div class="separator"></div>
                        </div>
                    </div>
                    <form action ="{{ url_for('insert_yardsale') }}" method="POST"> 
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate" name="first_name" required>
                                <label class="label" for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate" name="last_name" required>
                                <label class="label" for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate" name="email" required>
                                <label class="label" for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">phone</i>
                                <input id="telephone" type="tel" class="validate" name="telephone">
                                <label class="label" for="telephone">Telephone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="address1" type="text" class="validate" name="address1" required>
                                <label class="label" for="address1">Address Line 1</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="address2" type="text" class="validate" name="address1" required>
                                <label class="label" for="address2">Address Line 2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m3 l3">
                                <input id="city" type="text" class="validate" name="city" required>
                                <label class="label" for="city">City</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                                <input id="state" type="text" class="validate" name="state" required>
                                <label class="label" for="state">State</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                                <input id="zip" type="text" class="validate" name="zip" required>
                                <label class="label" for="zip">Zip Code</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-16">
                                <div class="form-group">
                                    <label class="label" style="font-size: 1rem;" for="countrycode"> Country: </label>
                                    <select name="countrycode" class="form-control" id="countrycode" required>
                                    <option value=""></option>
                                    {% for country in countries %}
                                    <option value="{{country.code}}">{{country.code}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h5 class="page-sub-title">Yard Sale Info:</h5>
                                <div class="separator"></div>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-lg-4 col-md-4 col-sm-6">          
                                <label style="font-size: 1rem;"> Choose Yard Sale Type: </label>
                                <br>
                                <p>
                                    <input class="with-gap" name="salecat" type="radio" id="garagetype" value="garage" />
                                    <label for="garagetype" style = "color: #26a69a;" >Garage</label>
                                </p> 
                                <p>
                                    <input class="with-gap" name="salecat" type="radio" id="statetype" value="state"/>
                                    <label for="statetype" style = "color: #26a69a;" >State</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="salecat" type="radio" id="communitytype" value="community" />
                                    <label for="communitytype" style = "color: #26a69a;" >Community</label>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label class="label" style="font-size: 1rem;" >Pick a date for your yard sale</label>
                                <input type="date" class="datepicker" id="saledate" name="saledate" for="saledate" required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label class="label" style="font-size: 1rem;"> Pick the starting time for your yard </label>
                                <input type="time" id="saletime" name="saletime" for="saletime" required>
                            </div>
                        </div>
                        <br>
                        <div class="row" id="additem">    
                            <div class="col-lg-12 col-md-12 col-sm-12" >
                                <label for="item">List of items for sale (1 listing per line): </label>
                                <input type="text" class="form-control ingredient" name="itemlist" placeholder="enter an item(e.g. books)" minlength="3" required/>
                                <input type="text" class="form-control ingredient" name="itemlist" placeholder="enter an item(e.g. bike)" minlength="3" />
                                <input type="text" class="form-control ingredient" name="itemlist" placeholder="enter an item(e.g. appliances)" minlength="3" />
                                <!--buttons to add / remove input boxes-->
                                <button type="button" class="new-input-btn"><i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="remove-input-btn"><i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12"></div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <button class="btn btn-warning" id="add-sale-btn"  type="Submit" name="action">Add Yard Sale</button>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <button class="btn btn-info" id="clear-all-btn" type="button" >Clear All</button>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12"></div>
                        </div> 
                    </form>
                </div>
            </div> 
        </div>
    </div>           
{% endblock %}