{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-heading-title">Find Yard Sales</h2>      
                </div>
            </div>
        </div>   
        <br>  
        <div class="row">
            <form id="search-form" action="{{ url_for('get_yardsales') }}" method="POST">
                <div class="row"> 
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="label" style="padding-bottom:13px;" for="categorysearch"> Yard Sale Type: </label>
                            <select name="categorysearch" class="form-control" id="categorysearch">
                            <option value=""></option>
                            <option value="All">All</option>
                            {% for cat in categories %}
                            <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="label" for="datesearch"> Search by date:</label>
                        <input type="date" id="datesearch" name="datesearch" >
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="label" for="cityorzipsearch">Search by City or Zip Code:</label>
                        <input type="search" id="cityorzipsearch" name="cityorzipsearch" >
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="label" for="itemsearch">Search by Item:</label>
                        <input type="search" id="itemsearch" name="itemsearch" class="itemlist"> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-4 centered">
                        <button type="Submit" id="search-btn" class="btn btn-secondary">Search Yard Sales</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-4 centered">
                        <button type="button" id="clearsearch-btn" class="btn btn-secondary"> Clear Search</button>
                    </div>
                </div>
            </form> 
        </div>       
        <br>     
        <div class="row">
                {% if yardsales_count == 0 and mode == "search" %}
                <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                    <p>No Yard Sales found for your search criteria. Please try again.</p>
                </div>
                {% elif yardsales_count == 0 and mode == "all" %}
                <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                    <p>There are no Yard Sales for today. Try searching using any of the search criteria filters above</p>
                </div>
                {% elif yardsales_count != 0 and mode == "all" %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                    Here are the today's Yard Sales:
                    </div>
                </div>
                {% elif yardsales_count != 0 and mode == "search" %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                    Search results: {{ yardsales_count }}
                    </div>
                </div>
                {% endif %}
                {% for yard_sale in yardsales %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p><strong>Date: </strong>{{yard_sale.date}} <strong> - Time: </strong>{{yard_sale.time}} <strong>- City:</strong> {{yard_sale.city}} ({{yard_sale.state}})</p>
                    <p><strong> Seller Name: </strong>{{yard_sale.seller_first_name}} {{yard_sale.seller_last_name}} </p> 
                    <p> <strong>Email: </strong> <a href="mailto:{{yard_sale.seller_email}}">{{yard_sale.seller_email}}</a></p>
                    <p> <strong>Items for sale: </strong>{{ yard_sale.item_list|join(', ') }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 map-wrapper"> 
                        <div class="map" id="map_{{ yard_sale._id }}">
                            <iframe width="100%" height="200" frameborder="0" style="border:0"
                                    title="Map of {{ yard_sale.seller_first_name}}, {{ yard_sale.seller_last_name }}"
                                    src="https://www.google.com/maps/embed/v1/search?key={{ google_key }}&q={{ yard_sale.address_1 }}&center={{ yard_sale.lat }},{{ yard_sale.long }}&zoom=16">
                            </iframe>
                        </div>
                    <br>    
                </div>
                <div class="separator-purple"></div>  
            {% endfor %}   
        </div>
    </div>    
{% endblock %}