{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-heading-title">Update/Delete Yard Sale</h2> 
                </div>
            </div>
            {% if record_status == "updated" %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                Yard Sale Has Been Updated!
                </div>
            </div>
            {% elif record_status == "deleted" %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                Yard Sale Has Been Deleted!
                </div>
            </div>
            {% else %} 
            <div class="col-lg-12 col-md-12 col-sm-12 info-msg">
                Search the yard sale you wish to update or delete
            </div>
            {% endif %}  
        </div>
        <div> 
            <form id="search-form" action="/updatedelete_yardsales" method="POST">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                            <label class="label" for="datesearch"> Search by date:</label>
                            <input type="date" id="datesearch" name="datesearch" >
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                            <label class="label" for="fnamesearch"> Search by First Name:</label>
                            <input type="text" id="fnamesearch" name="fnamesearch" >
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                            <label class="label" for="lnamesearch"> Search by Seller's Name:</label>
                            <input type="text" id="lnamesearch" name="lnamesearch" >
                    </div>  
                    <div class="col-lg-2 col-md-6 col-sm-12 btn-adj">
                            <button type="Submit" id="search-btn" class="btn btn-secondary">Search</button>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 btn-adj">
                            <button type="button" id="clearsearch-btn" class="btn btn-secondary"> Clear Search</button>
                    </div>     
                </div>
            </form> 
        </div>
        <div class="row">
            {% for yard_sale in yardsales %}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <p><strong>Date: </strong>{{yard_sale.date}} <strong>- Time: </strong>{{yard_sale.time}} <strong> - City: </strong>{{yard_sale.city}} ({{yard_sale.state}})</p>
                <p> <strong> Seller Name: </strong>{{yard_sale.seller_first_name}} {{yard_sale.seller_last_name}} </p> 
                <p><strong>Seller Email:</strong> {{yard_sale.seller_email}} </p>
                <p><strong>Items for Sale: </strong>{{ yard_sale.item_list|join(', ') }}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"> 
                <div class="map" id="map_{{ yard_sale._id }}">
                    <iframe width="100%" height="200" frameborder="0" style="border:0" title="Map of {{ yard_sale.seller_first_name}}, {{ yard_sale.seller_last_name }}"
                    src="https://www.google.com/maps/embed/v1/search?key={{ google_key }}&q={{ yard_sale.address_1 }}&center={{ yard_sale.lat }},{{ yard_sale.long }}&zoom=16"></iframe>
                </div> 
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12"></div>
            <div class="col-lg-3 col-md-6 col-sm-6 centered">
                <a  href="{{url_for('update_yardsale', yardsale_id=yard_sale._id, record_status='toupdate')}}" class="btn btn-warning edit-btn">Edit</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 centered">
                 <a href="{{url_for('delete_yardsale', yardsale_id=yard_sale._id, record_status='todelete')}}" class="btn btn-info btn-delete" data-toggle="modal" data-target="#modalDeleteDialog">Delete</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12"></div>
            <div class="modal fade" id="modalDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Delete this Yard Sale?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <p> Data will be permanently removed</p>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
                            <a role="button" href="{{url_for('delete_yardsale', yardsale_id=yard_sale._id, record_status='todelete')}}" class="btn btn-primary btn-delete">Yes, Delete it!</a>  
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div> 
    </div>      
{% endblock %}