{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 offset-5 offset-md-8 col-md-4 offset-lg-9 col-lg-3">
                <!-- button to go back to search results on previous page -->
                <a class="btn btn-outline-primary btn-back" onclick="history.go(-1)">Back to search results</a>
            </div>
        </div>
        <div class="section"> 
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="page-heading-title">Update Yard Sale</h2> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 form-wrap"> 
                <div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                           <h5 class="page-sub-title">Seller Info:</h5>
                           <div class="separator"></div>
                        </div>
                    </div>
                    <form action ="{{ url_for('save_yardsale', yardsale_id=yardsale_upd._id,record_status=record_status ) }}" method="POST"> 
                        <div class="row">
                            <div class="input-field col-sm-6">
                                <input id="first_name" type="text" class="validate" name="first_name" value="{{yardsale_upd.seller_first_name}}" required>
                                <label class="label" for="first_name">First Name</label>
                            </div>
                            <div class="input-field col-sm-6">
                                <input id="last_name" type="text" class="validate" name="last_name" value="{{yardsale_upd.seller_last_name}}" required>
                                <label class="label" for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-sm-6">
                                <input id="email" type="email" class="validate" name="email" value="{{yardsale_upd.seller_email}}" required>
                                <label class="label" for="email">Email</label>
                            </div>
                            <div class="input-field col-sm-6">
                                <i class="material-icons prefix">phone</i>
                                <input id="telephone" type="tel" class="validate" name="telephone" value="{{yardsale_upd.telephone}}">
                                <label class="label" for="telephone">Telephone</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-sm-6">
                                <input id="address1" type="text" class="validate" name="address1" value="{{yardsale_upd.address_1}}" >
                                <label class="label" for="address1">Address Line 1</label>
                            </div>
                            <div class="input-field col-sm-6">
                                <input id="address2" type="text" class="validate" name="address2" value="{{yardsale_upd.address_2}}">
                                <label class="label" for="address2">Address Line 2</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-lg-3 col-md-3 col-sm-6">
                                <input id="city" type="text" class="validate" name="city" value="{{yardsale_upd.city}}" required>
                                <label class="label" for="city">City</label>
                            </div>
                            <div class="input-field col-lg-3 col-md-3 col-sm-6">
                                <input id="state" type="text" class="validate" name="state"  value="{{yardsale_upd.state}}" required>
                                <label class="label" for="state">State</label>
                            </div>
                            <div class="input-field col-lg-3 col-md-3 col-sm-6">
                                <input id="zip" type="text" class="validate" name="zip" value="{{yardsale_upd.zip}}" required>
                                <label class="label" for="zip">Zip Code</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label class="label" style="font-size: 1rem;" for="countrycode"> Country: </label>
                                    <select name="countrycode" class="form-control" id="countrycode" required>
                                    <option value="{{yardsale_upd.country_code}}">{{yardsale_upd.country_code}}</option>
                                    {% for country in countries %}
                                    <option value="{{country.code}}">{{country.code}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h5 class="page-sub-title">Yard Sale Info:</h5>
                                <div class="separator"></div>
                            </div>
                        </div>    
                        <div class="row">  
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                 <label style="font-size: 1rem;"> Choose Yard Sale Type: </label>
                                 <br>
                                 <p>
                                    <input class="with-gap" name="salecat" type="radio" id="garagetypeupd" value="{{yardsale_upd.category}}"/>
                                    <label for="garagetypeupd" style = "color: #26a69a;" >Garage</label>
                                </p> 
                                <p>
                                    <input class="with-gap" name="salecat" type="radio" id="estatetypeupd" value="{{yardsale_upd.category}}" />
                                    <label for="estatetypeupd" style = "color: #26a69a;" >Estate</label>
                                </p>
                                <p>
                                    <input class="with-gap" name="salecat" type="radio" id="communitytypeupd" value="{{yardsale_upd.category}}"/>
                                    <label for="communitytypeupd" style = "color: #26a69a;">Community</label>
                                </p> 
                            </div>    
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label class="label" style="font-size: 1rem;" >Pick a date for your yard sale</label>
                                <input type="date" class="datepicker" id="saledate" name="saledate" for="saledate"  value="{{yardsale_upd.date}}" required>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label class="label" style="font-size: 1rem;"> Pick the starting time for your yard </label>
                                <input type="time" id="saletime" name="saletime" for="saletime"  value="{{yardsale_upd.time}}" required>
                            </div>
                        </div>
                        <br>
                        <div class="row" id="additem">
                            <div class="col-lg-3 col-md-6 col-sm-12"> 
                                <label for="item">List of items for sale (1 listing per line): </label>
                                {% for items in yardsale_upd.item_list %}
                                    <input type="text" class="form-control itemlist" name="itemlist" placeholder="{{items}}" value="{{items}}" minlength="2"/>
                                {% endfor %}
                                <!--buttons to add / remove input boxes-->
                                <button type="button" class="new-input-btn" ><i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="remove-input-btn"><i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-4 centered">
                                <button class="btn btn-warning" type="submit" name="action">Save Changes</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 centered">
                                <a class="btn btn-info btn-cancel" onclick="history.go(-1)">Cancel</a>
                            </div>
                        </div>  
                    </form>
                </div>
            </div> 
        </div>
    </div>           
{% endblock %}